/*        ------------    CONFIGS GLOBAIS // VARIVEIS    ----------------            */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-01: Verdana, Geneva, Tahoma, sans-serif;
    --font-02: 'Passion One', cursive;
    --font-03: 'Sriracha', cursive;
}



* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}


html, body {
    min-height: 100vh;
    background-color: lightgray;
    font-family: var(--font-01);

}


/*         ----------- ------------  CABEÇALHO          ------------            */

header {

    background-color: black;
    color: white;
    text-align: center;

}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font-02);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

/*   --------------          LINKS         ---------------                 */

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/*           ------------          SEÇÕES         ----------------          */

section {
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font-03);
    font-size: 3.2vw;

}

section P {
    padding-bottom: 2em;
    
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    color: white;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.493);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}

section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.459);
    text-shadow: 1px 1px 0px black;

}

section#img01 {
    background-image: url("../imagens/background001.jpg");
    
    
}

section#img02 {
    background-image: url("../imagens/background002.jpg");
    
    
}

/*             -------------------      RODAPÉ        -----------     */

footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    padding: 10px;
}
